*{
  margin: 20;
  padding: 0;
  box-sizing: border-box;
  
}

*::after,*::before { 
  box-sizing: border-box;

}
.App {
  /* width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(90deg, #1c4966, #296d98); */

  text-align: center;
  background-image: url("./component/imgs/back.jpg");
  background-attachment: fixed;
  min-height: 100vh;
}
body {
  padding: 0;
  margin: 0;
}
/*searchbar*/
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}