.form-container{
    display:  flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(90deg, #1c4966, #296d98);
    width: 1000px;
    
}

.form-data {
    border: 2px solid #FFC107 ;
    border-radius: 10px;
    padding: 2%;
}


#logo-header {
    position: absolute;
    z-index: 999;
    

}
#logo {
    height:55px;

}
#logo2 {
    height: 150px;
}




